﻿@{
    ViewBag.Title = "Contact";
}
<h1> Página de contacto de la Rama Nueva</h1>

<p>
    Ahora tiene contenido diferente a rama master
</p>

<p>
    @for(int i = 1; i<= 10; ++i){
      <h4> Soy el número: <strong>@i</strong></h4>
    }
</p>
<h4> Este cambio está en el master y lo quiero mantener en la versión final, lo demás no...</h4>